<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG">
    <test name="TestNG сценарии">
        <!--<groups>
            <run>
                <include name="${tags}"/>
            </run>
        </groups>-->
       <!-- <packages>
            <package name="com.github.SvetlanaVasilyuk"/>
        </packages>-->
        <classes>
            <!-- <class name="com.github.SvetlanaVasilyuk.Homework_16_SiteTest1"/>
            <class name="com.github.SvetlanaVasilyuk.Homework_17_SiteTest2"/>
            <class name="com.github.SvetlanaVasilyuk.Homework_18_SiteTest3"/>
            <class name="com.github.SvetlanaVasilyuk.Homework_19_SiteTest4"/>
            <class name="com.github.SvetlanaVasilyuk.Homework_20_PageObject.Test_Homework_20"/>
            <class name="com.github.SvetlanaVasilyuk.Homework_21_PageFactory.Test_Homework_21"/>
            <class name="com.github.SvetlanaVasilyuk.Homework_22_Selenide.Test_Homework_22"/>-->
            <class name="cucumber.CucumberRunnerTest"/>
        </classes>
    </test>

</suite>